streamlit
scikit-learn
pandas
numpy
matplotlib
seaborn
spacy
nltk
optuna
xgboost
wordcloud
gdown
# Ensure this is the latest compatible model for your spacy version:
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
